<div
  class="container center"
  itemscope
  itemtype="https://schema.org/SoftwareApplication"
>
  <div id="main-content" class="page-area">
    <pb-breadcrumbs></pb-breadcrumbs>
    <pb-article>
      <div class="slot-one">Stay on track</div>
      <div class="slot-two">
        Do you know where you are spending your money? If you really stop to
        track it down, you would get surprised! Proper budget management depends
        on real data... and this app will help you with that!
      </div>
    </pb-article>
    <pb-article>
      <div class="slot-one">Alerts</div>
      <div class="slot-two">
        What if your clothing budget ended? You will get an alert. The goal is
        to never go over the budget.
      </div>
    </pb-article>
    <pb-article>
      <div class="slot-one">Results</div>
      <div class="slot-two">
        People who stick to a financial plan, budgeting every expense, get out
        of debt faster! Also, they to live happier lives... since they expend
        without guilt or fear... because they know it is all good and accounted
        for.
      </div>
    </pb-article>
    <pb-article>
      <div class="slot-one">Free</div>
      <div class="slot-two">
        This app is free!!! And you are the only one holding your data!
      </div>
    </pb-article>
    <pb-article>
      <div class="slot-one">Stay on Track</div>
      <div class="slot-two">
        Do you know where you are spending your money? If you really stop to
        track it down, you would get surprised! Proper budget management depends
        on real data... and this app will help you with that!
      </div>
    </pb-article>
    <article class="text-box">
      <div id="myD3Chart"></div>
    </article>
    <article class="text-box">
      <canvas id="myCanvas"></canvas>
    </article>
    <pb-article>
      <div class="slot-one">Alerts</div>
      <div class="slot-two">
        What if your clothing budget ended? You will get an alert. The goal is
        to never go over the budget.
      </div>
    </pb-article>
  </div>
</div>
